<%- include('partials/header') %>

    <main id="signup-form">
        <form action="/signup" method="post">
            <h1>Sign Up</h1>

            <% if(error){ %>
                <p class="error"><%= message %></p>
            <% } %>

            <div class="user-icon">
                <span class="fa fa-user"></span>
                <input type="text" name="fullname" id="" value="<%= user.name %>" placeholder="Full Name" required>
            </div>
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="Email" required>
            <div class="password-icon">
                <span class="fa fa-lock"></span>
                <input type="password" name="password" id="" value="<%= user.password %>" placeholder="Password" required minlength="8">
            </div>
            <input type="password" name="confirmPassword" id="confirmPassword" value="<%= user.confirmPassword %>" placeholder="Confirm Password" required minlength="8">
            <input type="submit" value="Create Account">
            <p>Already have an account? <a href="/login">Sign In</a></p>
        </form>
    </main>

<%- include('partials/footer') %>
